doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title About
    link(rel='import', href='includes/head.html')
  body
    link(rel='import', href='includes/header.html')
    link(rel='import', href='includes/footer.html')
