<html ng-app="eventsApp">

<head>
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div class="container-fluid" ng-controller="EditProfileController">
        <div class="row-fluid">
            <div class="span3">
                <img src="/img/profile.png" alt="">
            </div>
            <div class="span3">
                <fieldset>
                    <label for="userName">User Name:</label>
                    <input focus id="userName" required type="text" placeholder="Username" ng-model="user.userName">
                    <label for="password">Password</label>
                    <input id="password" placeholder="Password" type="password" ng-model="user.password">
                </fieldset>
                <div style="margin-top:15px">
                    <fieldset>
                        <label for="name">Name:</label>
                        <input id="name" type="text" placeholder="Name" ng-model="user.name">
                        <label for="email">Email:</label>
                        <input id="email" placeholder="Email" type="text" ng-model="user.email">
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

</body>

</html>